$colort-bg: #1A1A1A;
$color-primiry-text: #F5F5F5;
$color-secondairy-text : #848484;
$color-accent-1 :#FF8000;
$color-accent-2: #643BBA;
$color-accent-3: #150F1E;
$color-accent-4: teal;
$color-mouse: #C1D82F;