$font-size-main-title : 2.5em;
$font-size-section-title: 2em;
$font-size-secondair: large;
$font-size-hint: 1.5em;
$font-size-dicription: 1em;
$font-title: 'Courier New', Courier, monospace;
$font-button: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;