@use "../abstracts" as *;
@use "../base/animation" as *;

header {
    height: 100vh;
    position: relative;
}

.name-role {
    position: absolute;
    top: 30vh;
    width: 45vw;
    display: inline-block;
    margin-left: clamp(10px, 13vw, 100px);
}

.welcom-msg {
    font-family: $font-title ;
    font-size: $font-size-main-title;
    color: $color-primiry-text;
}

.name-role-text {
    font-family: $font-title;
    font-weight: bolder;
    font-size: $font-size-main-title;
    color: $color-primiry-text;
}

.first-bg {
    position: absolute;

    z-index: -10;
    height: 100vh;
    width: 100%;
    // height: 100svh;
}

.goDown {
    position: absolute;
    background-color: aqua;
    right: 2em;
    top: 80vh;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    cursor: pointer;

    img {
        position: absolute;
        width: 2em;
        top: .25em;
        left: .25em;
        transition: 300ms ease-in-out;

    }

    div {
        position: relative;
        right: 5.5em;
        top: .75em;
        width: 100px;
        color: white;
        font-weight: 800;
    }

    img:hover {
        transform: scale(.9) rotate(20deg);
    }
}

.scrole {
    position: absolute;
    // visibility: hidden;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    filter: invert(100%);
    animation: scroleUpDown 2s linear infinite;

}